* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
    border: black solid 2px;
}

.square {
    background-color: white;
    border: .25px solid black;
}

.hover {
    background-color: black;
}