* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
    border: black solid 2px;
}

.cell {
    background-color: white;
}

.cell-border {
    border: .1px solid lightgrey;
}

.hover {
    background-color: black;
}